.prevNextNavigation{
    display: flex;
    column-gap: 30px;
    margin-bottom:15px;
}
.prevNextNavigation button {
    font-family: 'Dicovina';
    font-size: 14px;
    text-shadow: 2px 2px 6px #00b1c1, -2px -2px 6px #00b1c1, -2px 2px 6px #00b1c1, 2px -2px 6px #00b1c1;
    border: none;
    background: none;
    cursor: pointer;
}
.prevNextNavigation button:hover{
    text-shadow: 2px 2px 6px #4eb236, -2px -2px 6px #4eb236, -2px 2px 6px #4eb236, 2px -2px 6px #4eb236;
}