.post a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.post a[class='active'] > p {
    box-shadow: 6px 6px 4px black;
}

.post p, .user {
    margin: 0 0 10px 0;
    padding: 10px 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 2px grey;
}

.post p:hover, .user:hover {
    box-shadow: 4px 4px 2px black;
    transition: all 400ms;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 20px;
}

.user button {
    padding: 0 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

.user button:hover {
    background: grey;
    transition: all 300ms;
}
