.container{
    display: flex;
    height: 100%;
}
.items{
    display: flex;
    width: 40%;
    padding-right: 10px;
    flex-direction: column;
}
.detail{
    display: flex;
    width: 60%;
    padding-left: 10px;
    overflow-y: scroll;
}