.counters{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-top: 40px;
}
.counters h2{
    font-size: 50px;
    text-align: center;
}
.counters>div{
    border: 1px solid black;
}